.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  width: min-content;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.content img {
  margin-bottom: 40px;
}
